.nav_bar{
    background-color: #052541;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: ;
    justify-content: space-between;
}
.nav_bar_1{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.nav_bar button{
    font-size: 25px;
    color: white;
}
.nav_bar_2{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    color: white;
}
.first_page{
    margin: 0 70px 0 70px;
}
.first_page_header{
    background-image: url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/jTiQAusGG4dVLSb1WHme9I9R4NN.jpg");
    padding: 40px 40px 10px 40px;
}
.first_page_header h1{
    color: white;
    line-height: 10px;
    font-size: 90px;
    font-weight: 700;
}
.first_page_header h2{
    color: white;
    font-size: 60px;
}
.header_form{
    display: flex;
}
.header_form Input{
    height: 50px;
    border-radius: 50px 50px;
}
.header_form Button{
    border-radius: 50px 50px;
    background-color: #14c5c6;
    color: black;
    height: 50px;
    width: 150px;
}
.searchbar{
    margin: 20px;
}
.search_page{
    margin: 0 70px 0 70px
}
.ant-card-head-title{
    color: white;
    background-color: #04b4e4;
    height: 60px;
    text-align: center;
    font-size: 20px;
}
.search_card_contents{
    display: flex;
    justify-content: space-between;
}
.search_page_inform{
    font-size: 22px;
}
.popular_page{
    margin-top: 40px;
    font-weight: 600px;
    display: flex;
}
.whats_popular_streaming_button button{
    font-size: 27px;
    border-radius: 50px 50px;
    height: 51px ;
}
.whats_popular_streaming_button{
    margin-left: 20px;
    box-sizing: border-box;
    height: 51px;
    border: 1px solid black;
    border-radius: 50px 50px;
}
.popular_page_content{
    display: flex;
    margin-top: 40px;
}